body{
	margin:0px;
}
.container{
    width: 1045px;
    margin: 0 auto;
}
.clearfix:after{
    content: '';
    clear: both;
    display: table;
}
p{
	margin: 0px;
}

/*------header-menu------*/

.header-menu{
	background-color: #eee;
}
.header-menu-list{
	list-style: none;
	display: block; 
	margin: 0px;
	padding: 0px;
}
.menu-item{
	float: left;
	border-top: 4px solid transparent;
}
.menu-item a{
	text-decoration: none;
    color: #5e6b75;
    font-family: "Georgia";
    font-size: 16px;
    padding: 18px;
    display: block;
    height: 100%;
}
.menu-item:hover{
	background-color: #d9dbdd;
}
.menu-item.active{ 
	background-color: #66747d;
	border-top-color: #ffb800; 
}
.menu-item.active a{
	color: #fff;
}

/*-----left-column---------*/
.left-column{
	float: left;
	width: 335px;
	margin-top: 53px;
}

.block-title{
	position: relative;
    text-align: center;
    margin: 0px 10px;
}
.title-text{
	color: #fff;
	font-family: "Georgia";
	font-size: 16px;
	background: #66747d;
	border-top: 4px solid #ffb800;
	padding: 8px 26px;
	z-index:1;
	position: relative;
	display: inline-block;
}
.title-line-wrapper{
	border: 2px solid #dcdddf;
    border-width: 0px 2px;
    height: 10px;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -5px;
    box-sizing: border-box;
	z-index: 0;
}
.title-line{
	display: block;
    height: 2px;
    width: 100%;
    background-color: #dcdddf;
	top: 50%;
    position: relative;
    margin-top: -1px;
}
.news-item{
	padding: 5px 10px;
}
.date{
	color: #a2a2a2;
	font-family: "Tahoma";
	font-size: 13px;
	margin: 10px 0px;
}
.fa-eye{
	margin: 0px 10px 0px 22px;
}
.fa-camera {
    color: #a2a2a2;
    margin-left: 13px;
	font-size: 13px;
}
.news-item.important {
    background-color: #f0f0f0;
}
.news-text{
	color: #343739;
	font-family: "Tahoma";
	font-size: 13px;
	text-decoration: none;
	display: block;
	padding-top: 5px;
}
.news-item.important .news-text{
	color: #343739;
	font-family: "Tahoma_Bold";
	font-size: 13px;
	padding-top: 5px;
}
.main-news-text{
	color: #343739;
	font-family: "Tahoma_Bold";
	font-size: 15px;
}

/*---------center-column------------*/

.center-column{
	width: 335px;
	display: inline-block;
	margin-top: 53px;
}

/*----------right-column-----------*/

.right-column{
	float: right;
	width: 335px;
}
.posts-item{
	padding: 10px;
}
.posts-img{
	float: left;
	margin-right: 17px;
}
.category{
	color: #343739;
	font-family: "Tahoma_Bold";
	font-size: 11px;
	background-color: #ffb800;
	text-transform: uppercase;
	padding: 5px 11px;
	display: inline-block;
    margin-top: 10px;
}
.posts-title{
	display: block;
	color: #343739;
	font-family: "Tahoma_Bold";
	font-size: 14px;
	margin: 5px 0px;
}
.posts-description{
	margin-top: 11px;
}
.posts-author a{
	color: #f7a600;
	text-decoration: none;
}

.posts-description a{
	color: #f7a600;
}
.posts-author{
	color: #343739;
	font-family: "Tahoma";
	font-size: 13px;
}