body{
	margin:0px;
}
.container{
    width: 1045px;
    margin: 0 auto;
}
.clearfix:after{
    content: '';
    clear: both;
    display: table;
}
p{
	margin: 0px;
}

/*------header-menu------*/

.header-menu{
	background-color: #eee;
}
.header-menu-list{
	list-style: none;
	display: block; 
	margin: 0px;
	padding: 0px;
}
.menu-item{
	float: left;
	border-top: 4px solid transparent;
}
.menu-item a{
	text-decoration: none;
    color: #5e6b75;
    font-family: "Georgia";
    font-size: 16px;
    padding: 18px;
    display: block;
    height: 100%;
}
.menu-item:hover{
	background-color: #d9dbdd;
}
.menu-item.active{ 
	background-color: #66747d;
	border-top-color: #ffb800; 
}
.menu-item.active a{
	color: #fff;
}